body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F7FF;
}

/* Menú */
nav {
    background-color:#002FD4;
}

/* textos */

.texto-logo {
    font-weight: 800;
    font-size: 2rem;
}

h3, h4, h5, .blue {
    color: #002FD4;
}

h3 {
    font-size: 3rem;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

/* Destacado */
.mark, mark {
    padding: .2em;
    background-color: #002FD4;
    color: #ffffff;
}
/* Foto ppal */

header {
    background-image: url("../img/yo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
}

hr {
    background-color: #002FD4;
    height: 3px;
    width: 30px;
  }

/* Clases */

.oscuro {
    color: #ffffff;
}

.oscuro a{
    color: #ffffff;
    text-decoration: none;
  }

.botocontacto {
    color: #002FD4;
}

.bgceleste{
    background-color:#0064FB ;
}

/* Mi experiencia */
.logos {
    width: 8rem;
}


/* footer */
footer i {
    margin: 0 0.25em 0.5em 0.25em;
    color: #ffffff;
  }

footer {
padding: 3.125rem;
margin-top: 4.5rem;
background-color:#000783;
}

.bgcarousel {
background-color: #0F0F70;
}

.card {
    border: none;
}

.iconos {
    width: 1rem;
}
