body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color:#F3F7FF;

}

nav {
    background-color:#002FD4;
}

.texto-logo {
    font-weight: 800;
    font-size: 2rem;
}

p,{
    font-family: 'Josefin Sans', sans-serif;
    color: #002FD4;
}

h3 {
    color: #002FD4;
}

span {
    font-weight: bold;
} 

header {
    background-image: url("../img/yo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
  }

.oscuro {
    background: #000f08;
    color: #ffffff;
}

.oscuro a{
    color: #ffffff;
    text-decoration: none;
  }

.botocontacto {
    color: #002FD4;
}

.logos {
    width: 8rem;
}